<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kur Dönüştürücü</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="secondary">
    <ion-card-header><strong>Adım 1:</strong> Banka seçin.</ion-card-header>

    <ion-card-content>
      <ion-item color="secondary">
        <ion-label style="color: white;">Banka</ion-label>

        <ion-select [(ngModel)]="selectedCurrencyService" (ionChange)="selectedCurrencyService.fetchData()">
          <ion-option *ngFor="let service of currencyServices" [value]="service">{{service.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedCurrencyService" color="secondary">
    <ion-card-header><strong>Adım 2:</strong> Kur seçin.</ion-card-header>

    <ion-card-content>
      <ion-item color="secondary">
        <ion-label style="color: white;">Kur</ion-label>

        <ion-select [(ngModel)]="selectedCurrencyService.selectedCurrency">
          <ion-option *ngFor="let currency of selectedCurrencyService.data" [value]="currency">{{currency.computerReadableName}} ({{currency.humanReadableName}})</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedCurrencyService.selectedCurrency">
    <ion-card-content>
      <ion-grid>
        <ion-row text-center>
          <ion-col>
            <ion-item>
              <ion-label>Tür</ion-label>

              <ion-select [(ngModel)]="selectedCurrencyService.selectedRatioType">
                <ion-option value="0">Alış</ion-option>
                <ion-option value="1">Satış</ion-option>
                <ion-option value="2">Efektif Alış</ion-option>
                <ion-option value="3">Efektif Satış</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row text-center>
          <ion-col><ion-input type="number" placeholder="TL" [(ngModel)]="selectedCurrency.value"></ion-input></ion-col>
          <ion-col>
            <ion-input *ngIf="selectedCurrencyService.selectedRatioType == 0" type="number" [placeholder]="selectedCurrency.computerReadableName" [(ngModel)]="selectedCurrency.ratios.buyRatio"></ion-input>
            <ion-input *ngIf="selectedCurrencyService.selectedRatioType == 1" type="number" [placeholder]="selectedCurrency.computerReadableName" [(ngModel)]="selectedCurrency.ratios.sellRatio"></ion-input>
            <ion-input *ngIf="selectedCurrencyService.selectedRatioType == 2" type="number" [placeholder]="selectedCurrency.computerReadableName" [(ngModel)]="selectedCurrency.ratios.effectiveBuyRatio"></ion-input>
            <ion-input *ngIf="selectedCurrencyService.selectedRatioType == 3" type="number" [placeholder]="selectedCurrency.computerReadableName" [(ngModel)]="selectedCurrency.ratios.effectiveSellRatio"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row text-center>
          <ion-col>Türk Lirası</ion-col>
          <ion-col>{{selectedCurrency.humanReadableName|titlify}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
