page-home {

}

.overriding-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
